In [46]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [91]:
X_train = pd.read_csv("/Users/yujinkim/Desktop/3학년/1학기/응용머신러닝/Assignment1/X_train.csv")
Y_train = pd.read_csv("/Users/yujinkim/Desktop/3학년/1학기/응용머신러닝/Assignment1/y_train.csv")

In [92]:
X_train.head()

,id,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,1,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,2,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,3,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,4,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,5,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [93]:
X_train_id = X_train['id']
X_train_id

0        1
1        2
2        3
3        4
4        5
      ...
228    261
229    262
230    263
231    264
232    265
Name: id, Length: 233, dtype: int64

In [94]:
X_train = X_train.iloc[:, 1:]
X_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
228,66,0,0,178,228,1,1,165,1,1.0,1,2,3
229,52,1,0,112,230,0,1,160,0,0.0,2,1,2
230,53,1,0,123,282,0,1,95,1,2.0,1,2,3
231,63,0,0,108,269,0,1,169,1,1.8,1,2,2
232,54,1,0,110,206,0,0,108,1,0.0,1,1,2

In [22]:
#scaling 
# 1. min-max scaling
# 2. max-abs scaling 
# 3. robust scaling

# Standardization 
# Normalization

from sklearn import preprocessing

1. MinMax + 여러 방식들

In [23]:
#min-max scaling
mms = MinMaxScaler()

In [95]:
mms_X_train = mms.fit_transform(X_train)
mms_X_train

array([[0.70833333, 1.        , 1.        , ..., 0.        , 0.        ,
        0.33333333],
       [0.16666667, 1.        , 0.66666667, ..., 0.        , 0.        ,
        0.66666667],
       [0.25      , 0.        , 0.33333333, ..., 1.        , 0.        ,
        0.66666667],
       ...,
       [0.5       , 1.        , 0.        , ..., 0.5       , 0.5       ,
        1.        ],
       [0.70833333, 0.        , 0.        , ..., 0.5       , 0.5       ,
        0.66666667],
       [0.52083333, 1.        , 0.        , ..., 0.5       , 0.25      ,
        0.66666667]])

In [42]:
Y_train = pd.read_csv('/Users/yujinkim/Desktop/3학년/1학기/응용머신러닝/Assignment1/y_train.csv')
Y_train

      id  target
0      1       1
1      2       1
2      3       1
3      4       1
4      5       1
..   ...     ...
228  261       0
229  262       0
230  263       0
231  264       0
232  265       0

[233 rows x 2 columns]

In [96]:
Y_train = Y_train.iloc[:, 1:]
Y_train

     target
0         1
1         1
2         1
3         1
4         1
..      ...
228       0
229       0
230       0
231       0
232       0

[233 rows x 1 columns]

In [97]:
X_test = pd.read_csv('/Users/yujinkim/Desktop/3학년/1학기/응용머신러닝/Assignment1/X_test.csv')
X_test

,id,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,266,66,1,0,112,212,0,0,132,1,0.1,2,1,2
1,267,55,0,0,180,327,0,2,117,1,3.4,1,0,2
2,268,49,1,2,118,149,0,0,126,0,0.8,2,3,2
3,269,54,1,0,122,286,0,0,116,1,3.2,1,2,2
4,270,56,1,0,130,283,1,0,103,1,1.6,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,161,56,1,1,120,240,0,1,169,0,0.0,0,0,2
66,162,55,0,1,132,342,0,1,166,0,1.2,2,0,2
67,163,41,1,1,120,157,0,1,182,0,0.0,2,0,2
68,164,38,1,2,138,175,0,1,173,0,0.0,2,4,2
69,165,38,1,2,138,175,0,1,173,0,0.0,2,4,2

In [109]:
X_test_id = X_test['id']

In [102]:
mms_X_test = mms.transform(X_test)
mms_X_test

array([[0.78106509, 0.75609756, 1.        , 0.        , 0.15      ,
        0.38388626, 0.        , 0.        , 0.54954955, 1.        ,
        0.02272727, 1.        , 0.25      , 0.66666667],
       [0.78698225, 0.48780488, 0.        , 0.        , 1.        ,
        0.92890995, 0.        , 1.        , 0.41441441, 1.        ,
        0.77272727, 0.5       , 0.        , 0.66666667],
       [0.79289941, 0.34146341, 1.        , 0.66666667, 0.225     ,
        0.08530806, 0.        , 0.        , 0.4954955 , 0.        ,
        0.18181818, 1.        , 0.75      , 0.66666667],
       [0.79881657, 0.46341463, 1.        , 0.        , 0.275     ,
        0.73459716, 0.        , 0.        , 0.40540541, 1.        ,
        0.72727273, 0.5       , 0.5       , 0.66666667],
       [0.80473373, 0.51219512, 1.        , 0.        , 0.375     ,
        0.72037915, 1.        , 0.        , 0.28828829, 1.        ,
        0.36363636, 0.        , 0.        , 1.        ],
       [0.81065089, 0.26829268, 1.        , 0.        , 0.25      ,
        0.55924171, 0.        , 0.        , 0.65765766, 0.        ,
        0.18181818, 1.        , 0.        , 1.        ],
       [0.81656805, 0.63414634, 1.        , 1.        , 0.425     ,
        0.48815166, 0.        , 0.5       , 0.66666667, 0.        ,
        0.59090909, 0.5       , 0.5       , 0.66666667],
       [0.82248521, 0.7804878 , 1.        , 0.        , 0.25      ,
        0.50236967, 0.        , 0.5       , 0.        , 0.        ,
        0.22727273, 0.5       , 0.        , 0.66666667],
       [0.82840237, 0.56097561, 1.        , 0.        , 0.        ,
        0.48815166, 0.        , 0.5       , 0.76576577, 0.        ,
        0.02272727, 1.        , 0.25      , 1.        ],
       [0.83431953, 0.29268293, 1.        , 0.        , 0.125     ,
        0.68246445, 0.        , 0.        , 0.42342342, 1.        ,
        0.22727273, 0.5       , 0.25      , 0.66666667],
       [0.84023669, 0.41463415, 1.        , 0.        , 0.3125    ,
        0.38388626, 0.        , 0.5       , 0.87387387, 0.        ,
        0.22727273, 1.        , 0.5       , 1.        ],
       [0.84615385, 0.56097561, 1.        , 0.        , 0.575     ,
        0.41232227, 0.        , 0.5       , 0.30630631, 0.        ,
        0.45454545, 0.5       , 0.25      , 1.        ],
       [0.85207101, 0.53658537, 1.        , 0.33333333, 0.3       ,
        0.61611374, 0.        , 0.5       , 0.63063063, 0.        ,
        0.06818182, 1.        , 0.        , 1.        ],
       [0.85798817, 0.56097561, 0.        , 0.33333333, 0.45      ,
        0.89099526, 1.        , 0.        , 0.72972973, 0.        ,
        0.        , 1.        , 0.5       , 0.66666667],
       [0.86390533, 0.63414634, 1.        , 0.        , 0.475     ,
        0.16587678, 0.        , 0.        , 0.48648649, 1.        ,
        0.81818182, 0.5       , 0.25      , 0.66666667],
       [0.86982249, 0.17073171, 1.        , 0.        , 0.45      ,
        0.87203791, 0.        , 0.5       , 0.48648649, 1.        ,
        0.40909091, 0.5       , 0.        , 0.33333333],
       [0.87573964, 0.41463415, 1.        , 0.        , 0.35      ,
        0.34597156, 1.        , 0.5       , 0.76576577, 1.        ,
        0.22727273, 0.5       , 0.        , 0.        ],
       [0.8816568 , 0.58536585, 1.        , 0.66666667, 0.325     ,
        0.41232227, 1.        , 0.5       , 0.56756757, 0.        ,
        0.5       , 0.5       , 0.25      , 0.33333333],
       [0.88757396, 0.12195122, 1.        , 0.        , 0.65      ,
        0.43601896, 0.        , 0.5       , 0.99099099, 0.        ,
        0.        , 1.        , 0.        , 1.        ],
       [0.89349112, 0.63414634, 1.        , 0.        , 0.5       ,
        0.36018957, 0.        , 0.        , 0.6036036 , 1.        ,
        0.43181818, 1.        , 0.25      , 1.        ],
       [0.89940828, 0.26829268, 1.        , 0.        , 0.5       ,
        0.85308057, 0.        , 0.5       , 0.44144144, 1.        ,
        0.40909091, 0.5       , 0.5       , 1.        ],
       [0.90532544, 0.58536585, 1.        , 1.        , 0.425     ,
        0.34597156, 0.        , 0.5       , 0.81981982, 0.        ,
        0.18181818, 1.        , 0.5       , 0.66666667],
       [0.9112426 , 0.53658537, 1.        , 0.33333333, 0.675     ,
        0.47867299, 0.        , 0.        , 0.83783784, 0.        ,
        0.        , 1.        , 0.25      , 0.66666667],
       [0.91715976, 0.53658537, 1.        , 0.        , 0.125     ,
        0.96682464, 0.        , 0.5       , 0.64864865, 1.        ,
        0.68181818, 0.5       , 0.25      , 1.        ],
       [0.92307692, 0.48780488, 0.        , 0.        , 0.35      ,
        0.3507109 , 0.        , 1.        , 0.53153153, 1.        ,
        0.45454545, 0.5       , 0.25      , 1.        ],
       [0.92899408, 0.63414634, 1.        , 0.        , 0.6       ,
        0.34123223, 0.        , 0.5       , 0.81081081, 0.        ,
        0.        , 1.        , 0.25      , 1.        ],
       [0.93491124, 0.56097561, 1.        , 0.        , 0.175     ,
        0.88625592, 0.        , 1.        , 0.62162162, 0.        ,
        1.        , 0.        , 0.75      , 0.33333333],
       [0.9408284 , 0.56097561, 0.        , 0.        , 0.875     ,
        0.44549763, 1.        , 0.        , 0.67567568, 1.        ,
        0.63636364, 0.5       , 0.5       , 0.33333333],
       [0.94674556, 0.7804878 , 1.        , 0.66666667, 0.65      ,
        0.38388626, 0.        , 0.        , 0.71171171, 0.        ,
        0.18181818, 0.5       , 0.        , 1.        ],
       [0.95266272, 0.2195122 , 1.        , 0.        , 0.25      ,
        0.18009479, 0.        , 0.5       , 0.65765766, 1.        ,
        0.63636364, 0.        , 0.        , 0.33333333],
       [0.95857988, 0.68292683, 1.        , 0.        , 0.5       ,
        0.26540284, 0.        , 0.        , 0.65765766, 1.        ,
        0.90909091, 1.        , 0.5       , 1.        ],
       [0.96449704, 0.68292683, 0.        , 0.        , 0.3       ,
        0.31279621, 0.        , 0.5       , 0.58558559, 1.        ,
        0.        , 0.5       , 0.        , 0.66666667],
       [0.9704142 , 0.58536585, 1.        , 0.        , 0.8       ,
        0.21327014, 1.        , 0.        , 0.17117117, 0.        ,
        0.22727273, 0.5       , 0.5       , 0.33333333],
       [0.97633136, 0.53658537, 0.        , 0.        , 0.5       ,
        0.52132701, 0.        , 0.5       , 0.46846847, 1.        ,
        0.04545455, 0.5       , 0.        , 1.        ],
       [0.98224852, 0.24390244, 1.        , 1.        , 0.125     ,
        0.63033175, 0.        , 0.5       , 0.54954955, 0.        ,
        0.27272727, 0.5       , 0.        , 1.        ],
       [0.98816568, 0.80487805, 1.        , 0.        , 0.55      ,
        0.29383886, 1.        , 0.5       , 0.63063063, 0.        ,
        0.77272727, 0.5       , 0.5       , 1.        ],
       [0.99408284, 0.53658537, 1.        , 0.        , 0.375     ,
        0.        , 0.        , 0.5       , 0.3963964 , 1.        ,
        0.27272727, 0.5       , 0.25      , 1.        ],
       [1.        , 0.53658537, 0.        , 0.33333333, 0.375     ,
        0.49763033, 0.        , 0.        , 0.92792793, 0.        ,
        0.        , 0.5       , 0.25      , 0.66666667],
       [0.        , 0.14634146, 1.        , 0.33333333, 0.125     ,
        0.492891  , 0.        , 0.5       , 0.73873874, 0.        ,
        0.        , 1.        , 0.        , 0.66666667],
       [0.00591716, 0.14634146, 0.        , 0.33333333, 0.325     ,
        0.82938389, 0.        , 0.5       , 0.82882883, 0.        ,
        0.        , 1.        , 0.        , 0.66666667],
       [0.01183432, 0.34146341, 0.        , 0.        , 0.375     ,
        0.65402844, 0.        , 0.5       , 0.82882883, 0.        ,
        0.        , 1.        , 0.        , 0.66666667],
       [0.01775148, 0.6097561 , 0.        , 0.66666667, 0.25      ,
        0.22274882, 1.        , 0.5       , 0.22522523, 0.        ,
        0.        , 1.        , 0.        , 0.66666667],
       [0.02366864, 0.65853659, 1.        , 0.33333333, 0.35      ,
        0.36492891, 1.        , 0.        , 0.62162162, 0.        ,
        0.        , 1.        , 0.        , 0.66666667],
       [0.0295858 , 0.53658537, 1.        , 0.        , 0.125     ,
        0.33175355, 0.        , 0.5       , 0.4954955 , 1.        ,
        0.34090909, 0.5       , 0.        , 0.33333333],
       [0.03550296, 0.70731707, 1.        , 0.        , 0.35      ,
        0.62559242, 0.        , 0.5       , 0.30630631, 1.        ,
        0.04545455, 0.5       , 0.25      , 1.        ],
       [0.04142012, 0.3902439 , 0.        , 0.66666667, 0.25      ,
        0.77725118, 0.        , 0.        , 0.77477477, 0.        ,
        0.13636364, 1.        , 0.        , 0.66666667],
       [0.04733728, 0.19512195, 1.        , 0.        , 0.1875    ,
        0.81516588, 0.        , 0.5       , 0.99099099, 0.        ,
        0.27272727, 0.5       , 0.        , 0.66666667],
       [0.05325444, 0.17073171, 0.        , 0.66666667, 0.25      ,
        0.36966825, 0.        , 0.5       , 0.91891892, 0.        ,
        0.        , 0.5       , 0.        , 0.66666667],
       [0.0591716 , 0.7804878 , 0.        , 0.        , 0.075     ,
        0.43601896, 0.        , 0.5       , 0.63963964, 0.        ,
        0.06818182, 1.        , 0.5       , 0.66666667],
       [0.06508876, 1.        , 0.        , 0.66666667, 0.5       ,
        0.31279621, 0.        , 1.        , 0.40540541, 0.        ,
        0.25      , 0.5       , 0.        , 0.66666667],
       [0.07100592, 0.85365854, 1.        , 0.33333333, 0.7       ,
        0.54028436, 0.        , 0.        , 0.64864865, 0.        ,
        0.        , 1.        , 0.        , 0.66666667],
       [0.07692308, 0.2195122 , 0.        , 0.66666667, 0.225     ,
        0.52606635, 0.        , 0.5       , 0.7027027 , 0.        ,
        0.06818182, 0.5       , 0.25      , 0.66666667],
       [0.08284024, 0.6097561 , 0.        , 1.        , 0.625     ,
        0.51658768, 0.        , 0.5       , 0.9009009 , 0.        ,
        0.20454545, 1.        , 0.        , 0.66666667],
       [0.0887574 , 0.2195122 , 1.        , 0.66666667, 0.25      ,
        0.45023697, 0.        , 0.5       , 0.88288288, 0.        ,
        0.        , 1.        , 0.        , 0.66666667],
       [0.09467456, 0.17073171, 1.        , 0.66666667, 0.375     ,
        0.23222749, 0.        , 0.5       , 0.71171171, 0.        ,
        0.        , 1.        , 0.        , 0.66666667],
       [0.10059172, 0.75609756, 1.        , 0.        , 0.75      ,
        0.45971564, 0.        , 0.        , 0.6036036 , 0.        ,
        0.52272727, 1.        , 0.        , 0.33333333],
       [0.10650888, 0.87804878, 0.        , 0.        , 0.15      ,
        0.08530806, 0.        , 0.5       , 0.48648649, 0.        ,
        0.36363636, 0.5       , 0.        , 0.66666667],
       [0.11242604, 0.70731707, 1.        , 1.        , 0.875     ,
        0.4549763 , 0.        , 0.        , 0.75675676, 0.        ,
        0.13636364, 0.5       , 0.        , 1.        ],
       [0.1183432 , 0.75609756, 0.        , 0.66666667, 0.575     ,
        0.69668246, 0.        , 0.        , 0.72972973, 0.        ,
        0.        , 0.5       , 0.25      , 0.66666667],
       [0.12426036, 0.09756098, 0.        , 0.66666667, 0.475     ,
        0.42180095, 0.        , 0.5       , 0.72972973, 0.        ,
        0.        , 0.5       , 0.        , 0.66666667],
       [0.13017751, 0.56097561, 0.        , 0.        , 0.375     ,
        0.31279621, 0.        , 0.5       , 0.54054054, 0.        ,
        0.13636364, 0.5       , 0.        , 0.66666667],
       [0.13609467, 0.29268293, 1.        , 0.66666667, 0.375     ,
        0.57819905, 0.        , 0.5       , 0.97297297, 0.        ,
        0.        , 1.        , 0.        , 0.66666667],
       [0.14201183, 0.        , 1.        , 0.33333333, 0.275     ,
        0.28909953, 0.        , 0.5       , 0.92792793, 0.        ,
        0.        , 1.        , 0.        , 0.66666667],
       [0.14792899, 0.56097561, 1.        , 0.33333333, 0.3125    ,
        0.42180095, 0.        , 0.5       , 0.65765766, 0.        ,
        0.09090909, 0.5       , 1.        , 1.        ],
       [0.15384615, 0.51219512, 1.        , 0.33333333, 0.375     ,
        0.42654028, 0.        , 0.        , 0.82882883, 0.        ,
        0.        , 1.        , 0.        , 1.        ],
       [0.15976331, 0.51219512, 1.        , 0.33333333, 0.25      ,
        0.51658768, 0.        , 0.5       , 0.88288288, 0.        ,
        0.        , 0.        , 0.        , 0.66666667],
       [0.16568047, 0.48780488, 0.        , 0.33333333, 0.4       ,
        1.        , 0.        , 0.5       , 0.85585586, 0.        ,
        0.27272727, 1.        , 0.        , 0.66666667],
       [0.17159763, 0.14634146, 1.        , 0.33333333, 0.25      ,
        0.12322275, 0.        , 0.5       , 1.        , 0.        ,
        0.        , 1.        , 0.        , 0.66666667],
       [0.17751479, 0.07317073, 1.        , 0.66666667, 0.475     ,
        0.20853081, 0.        , 0.5       , 0.91891892, 0.        ,
        0.        , 1.        , 1.        , 0.66666667],
       [0.18343195, 0.07317073, 1.        , 0.66666667, 0.475     ,
        0.20853081, 0.        , 0.5       , 0.91891892, 0.        ,
        0.        , 1.        , 1.        , 0.66666667]])

In [105]:
#Naive Bayes
from sklearn.naive_bayes import GaussianNB

In [106]:
gnb = GaussianNB()

In [107]:
gnb.fit(mms_X_train, Y_train)

GaussianNB()

In [69]:
y_pred

array([0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 0, 0])

In [78]:
y_pred = pd.DataFrame(y_pred)
y_pred.columns = ['target']
y_pred

    target
0        0
1        0
2        0
3        0
4        0
..     ...
65       1
66       1
67       1
68       0
69       0

[70 rows x 1 columns]

In [81]:
sample1 = pd.concat([X_test_id, y_pred], axis = 1)

sample1.to_csv('sample1.csv', index = False)
sample1

     id  target
0   266       0
1   267       0
2   268       0
3   269       0
4   270       0
..  ...     ...
65  161       1
66  162       1
67  163       1
68  164       0
69  165       0

[70 rows x 2 columns]

minmax 스케일링은 분류보다 회귀에 유용하다 하여, 우선 제외하고 max-abs 스케일링 부터 해보자

# max-abs 스케일링

In [110]:
maxabs_scaler = MaxAbsScaler()

In [116]:
X_test = X_test.iloc[:, 1:]
X_test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,66,1,0,112,212,0,0,132,1,0.1,2,1,2
1,55,0,0,180,327,0,2,117,1,3.4,1,0,2
2,49,1,2,118,149,0,0,126,0,0.8,2,3,2
3,54,1,0,122,286,0,0,116,1,3.2,1,2,2
4,56,1,0,130,283,1,0,103,1,1.6,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,56,1,1,120,240,0,1,169,0,0.0,0,0,2
66,55,0,1,132,342,0,1,166,0,1.2,2,0,2
67,41,1,1,120,157,0,1,182,0,0.0,2,0,2
68,38,1,2,138,175,0,1,173,0,0.0,2,4,2
69,38,1,2,138,175,0,1,173,0,0.0,2,4,2

In [472]:
X_train_maxabs = maxabs_scaler.fit_transform(X_train)
X_test_maxabs = maxabs_scaler.transform(X_test)

In [121]:
gnb.fit(X_train_maxabs, Y_train)

GaussianNB()

In [122]:
abs_result = gnb.predict(X_test_maxabs)

In [123]:
abs_result

array([0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 0, 0])

In [125]:
abs_result = pd.DataFrame(abs_result)
abs_result.columns = ['target']
abs_result

    target
0        0
1        0
2        0
3        0
4        0
..     ...
65       1
66       1
67       1
68       0
69       0

[70 rows x 1 columns]

In [141]:
sample2 = pd.concat([X_test_id, abs_result], axis = 1)

sample2.to_csv('sample2.csv', index = False)
sample2

     id  target
0   266       0
1   267       0
2   268       0
3   269       0
4   270       0
..  ...     ...
65  161       1
66  162       1
67  163       1
68  164       0
69  165       0

[70 rows x 2 columns]

In [130]:
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier()

In [131]:
dt.fit(X_train_maxabs, Y_train)

DecisionTreeClassifier()

In [139]:
y_pred = dt.predict(X_test_maxabs)
y_pred = pd.DataFrame(y_pred)
sample3 = pd.concat([X_test_id, y_pred], axis = 1)
sample3.columns = ['id', 'target']

In [140]:
sample3.to_csv('sample3.csv', index = False)
sample3

     id  target
0   266       1
1   267       1
2   268       1
3   269       1
4   270       0
..  ...     ...
65  161       0
66  162       1
67  163       1
68  164       1
69  165       1

[70 rows x 2 columns]

In [143]:
from sklearn.neighbors import KNeighborsClassifier

In [470]:
neigh = KNeighborsClassifier()

In [473]:
neigh.fit(X_train_maxabs, Y_train)

KNeighborsClassifier()

In [474]:
y_pred = neigh.predict(X_test_maxabs)

In [477]:
y_pred = pd.DataFrame(y_pred)
sample4 = pd.concat([X_test_id, y_pred], axis = 1)
sample4.columns = ['id', 'target']
sample4.to_csv('sample4.csv', index = False)

In [150]:
from sklearn.svm import SVC

In [624]:
param ={'C':[1,5,10,20,25,50,100], 'gamma':[0.0005, 0.001, 0.025,0.05,0.1, 0.25, 0.5, 1]}

cv = KFold(n_splits=10)
GS = GridSearchCV(SVC(kernel='linear'), param, cv = cv)
GS.fit(X_train_maxabs, Y_train)

GridSearchCV(cv=KFold(n_splits=10, random_state=None, shuffle=False),
             estimator=SVC(kernel='linear'),
             param_grid={'C': [1, 5, 10, 20, 25, 50, 100],
                         'gamma': [0.0005, 0.001, 0.025, 0.05, 0.1, 0.25, 0.5,
                                   1]})

In [625]:
GS.best_score_

0.8547619047619047

In [627]:
GS.best_params_

{'C': 5, 'gamma': 0.0005}

In [628]:
svc = SVC(kernel="linear", C=5, gamma =0.0005)

In [629]:
svc.fit(X_train_maxabs, Y_train)

SVC(C=5, gamma=0.0005, kernel='linear')

In [630]:
y_pred = svc.predict(X_test_maxabs)

In [632]:
y_pred = pd.DataFrame(y_pred)
sample34 = pd.concat([X_test_id, y_pred], axis = 1)
sample34.columns = ['id', 'target']
sample34.to_csv('sample34.csv', index = False)
sample34

     id  target
0   266       0
1   267       0
2   268       1
3   269       0
4   270       0
..  ...     ...
65  161       1
66  162       1
67  163       1
68  164       1
69  165       1

[70 rows x 2 columns]

# Robust Scaling

In [155]:
robust = RobustScaler()

In [157]:
#훈련 및 테스트 데이터 스케일링 
X_train_robust = robust.fit_transform(X_train)
X_test_robust = robust.transform(X_test)

In [159]:
gnb.fit(X_train_robust, Y_train)

GaussianNB()

In [160]:
y_pred = gnb.predict(X_test_robust)

In [161]:
y_pred

array([0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 0, 0])

In [162]:
y_pred = pd.DataFrame(y_pred)
sample6 = pd.concat([X_test_id, y_pred], axis = 1)
sample6.columns = ['id', 'target']
sample6.to_csv('sample6.csv', index = False)
sample6

     id  target
0   266       0
1   267       0
2   268       0
3   269       0
4   270       0
..  ...     ...
65  161       1
66  162       1
67  163       1
68  164       0
69  165       0

[70 rows x 2 columns]

In [163]:
dt.fit(X_train_robust, Y_train)

DecisionTreeClassifier()

In [164]:
y_pred = dt.predict(X_test_robust)

In [165]:
y_pred = pd.DataFrame(y_pred)
sample7 = pd.concat([X_test_id, y_pred], axis = 1)
sample7.columns = ['id', 'target']
sample7.to_csv('sample7.csv', index = False)
sample7

     id  target
0   266       1
1   267       1
2   268       1
3   269       1
4   270       0
..  ...     ...
65  161       0
66  162       1
67  163       1
68  164       1
69  165       1

[70 rows x 2 columns]

In [166]:
neigh.fit(X_train_robust, Y_train)

KNeighborsClassifier()

In [167]:
y_pred = neigh.predict(X_test_robust)

In [168]:
y_pred = pd.DataFrame(y_pred)
sample8 = pd.concat([X_test_id, y_pred], axis = 1)
sample8.columns = ['id', 'target']
sample8.to_csv('sample8.csv', index = False)
sample8

     id  target
0   266       0
1   267       0
2   268       1
3   269       0
4   270       0
..  ...     ...
65  161       1
66  162       1
67  163       1
68  164       1
69  165       1

[70 rows x 2 columns]

In [169]:
svc.fit(X_train_robust, Y_train)

SVC(kernel='linear')

In [170]:
y_pred = svc.predict(X_test_robust)

In [171]:
y_pred = pd.DataFrame(y_pred)
sample9 = pd.concat([X_test_id, y_pred], axis = 1)
sample9.columns = ['id', 'target']
sample9.to_csv('sample9.csv', index = False)
sample9

     id  target
0   266       0
1   267       0
2   268       1
3   269       0
4   270       0
..  ...     ...
65  161       1
66  162       1
67  163       1
68  164       1
69  165       1

[70 rows x 2 columns]

# outlier 제거

outlier가 있으면 균형적인 척도를 보장할 수 없다길래 outlier 제거를 시도해봤다.

In [186]:
import numpy as np
def get_outlier(df = None, column = None, weight = 1.5):
    quantile_25 = np.percentile(df[column].values, 25)
    quantile_75 = np.percentile(df[column].values, 75)
    
    IQR = quantile_75 - quantile_25
    IQR_weight = IQR * weight
    
    #여기서 결정된 최솟값, 최댓값 범위를 벗어나면 outlier에 해당
    lowest = quantile_25 - IQR_weight
    highest = quantile_75 + IQR_weight
    
    outlier_idx = df[column][ (df[column] < lowest) | (df[column] > highest) ].index
    return outlier_idx

In [187]:
X_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
228,66,0,0,178,228,1,1,165,1,1.0,1,2,3
229,52,1,0,112,230,0,1,160,0,0.0,2,1,2
230,53,1,0,123,282,0,1,95,1,2.0,1,2,3
231,63,0,0,108,269,0,1,169,1,1.8,1,2,2
232,54,1,0,110,206,0,0,108,1,0.0,1,1,2

In [190]:
outlier_idx = get_outlier(df=X_train, column ='trestbps', weight = 1.5)
outlier_idx

Int64Index([8, 101, 110, 171, 191, 209, 216, 228], dtype='int64')

In [191]:
X_train_Out = X_train.drop(outlier_idx, axis = 0, inplace =True)

In [197]:
outlier_idx = get_outlier(df=X_train, column ='chol', weight = 1.5)
outlier_idx

Int64Index([28, 85, 96, 188, 214], dtype='int64')

In [198]:
X_train.drop(outlier_idx, axis = 0, inplace =True)

In [200]:
outlier_idx = get_outlier(df=X_train, column ='thalach', weight = 1.5)
outlier_idx

Int64Index([211], dtype='int64')

In [201]:
X_train.drop(outlier_idx, axis = 0, inplace =True)

In [203]:
outlier_idx = get_outlier(df=X_train, column ='oldpeak', weight = 1.5)
outlier_idx

Int64Index([172, 189, 218], dtype='int64')

In [205]:
X_train.drop(outlier_idx, axis = 0, inplace =True)
X_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
227,38,1,3,120,231,0,1,182,1,3.8,1,0,3
229,52,1,0,112,230,0,1,160,0,0.0,2,1,2
230,53,1,0,123,282,0,1,95,1,2.0,1,2,3
231,63,0,0,108,269,0,1,169,1,1.8,1,2,2
232,54,1,0,110,206,0,0,108,1,0.0,1,1,2

In [206]:
mms_X_train = mms.fit_transform(X_train)
mms_X_test = mms.transform(X_test)

In [211]:
Y_train.drop([8,101,110,171,191,209,216,228,28,85,96,188,214,211,172,189,218], axis =0, inplace =True)

In [213]:
gnb.fit(mms_X_train, Y_train)

GaussianNB()

In [214]:
y_pred = gnb.predict(mms_X_test)

In [217]:
y_pred =pd.DataFrame(y_pred)

In [218]:
sample10 = pd.concat([X_test_id, y_pred], axis = 1)
sample10.columns = ['id', 'target']
sample10.to_csv('sample10.csv', index = False)
sample10

     id  target
0   266       0
1   267       0
2   268       0
3   269       0
4   270       0
..  ...     ...
65  161       1
66  162       1
67  163       1
68  164       0
69  165       0

[70 rows x 2 columns]

# Outlier 제거 후, minmax 스케일링 +

In [589]:
#minmax + decision 
dt.fit(mms_X_train , Y_train)

DecisionTreeClassifier()

In [221]:
y_pred = dt.predict(mms_X_test)
y_pred =pd.DataFrame(y_pred)
sample11 = pd.concat([X_test_id, y_pred], axis = 1)
sample11.columns = ['id', 'target']
sample11.to_csv('sample11.csv', index = False)
sample11

     id  target
0   266       1
1   267       1
2   268       1
3   269       1
4   270       0
..  ...     ...
65  161       1
66  162       1
67  163       1
68  164       1
69  165       1

[70 rows x 2 columns]

In [228]:
#mms + k-near(k=10)
neigh = KNeighborsClassifier(n_neighbors=10)

In [229]:
neigh.fit(mms_X_train, Y_train)

KNeighborsClassifier(n_neighbors=10)

In [227]:
y_pred = neigh.predict(mms_X_test)

In [230]:
y_pred =pd.DataFrame(y_pred)
sample12 = pd.concat([X_test_id, y_pred], axis = 1)
sample12.columns = ['id', 'target']
sample12.to_csv('sample12.csv', index = False)
sample12

     id  target
0   266       0
1   267       0
2   268       0
3   269       0
4   270       0
..  ...     ...
65  161       1
66  162       1
67  163       1
68  164       1
69  165       1

[70 rows x 2 columns]

In [266]:
#mms + SVM 중에, rbf 시도해보기 
import numpy as np
import matplotlib.pyplot as plt
svc_linear = SVC(kernel="linear")
svc_poly = SVC(kernel ="poly")
svc_rbf = SVC(kernel ="rbf")

In [267]:
svc_rbf.fit(mms_X_train,Y_train)

SVC()

In [269]:
y_rbf1 =svc_rbf.predict(mms_X_test)

In [270]:
y_rbf1 =pd.DataFrame(y_rbf1)
sample13 = pd.concat([X_test_id, y_rbf1], axis = 1)
sample13.columns = ['id', 'target']
sample13.to_csv('sample13.csv', index = False)
sample13

     id  target
0   266       0
1   267       0
2   268       0
3   269       0
4   270       0
..  ...     ...
65  161       1
66  162       1
67  163       1
68  164       1
69  165       1

[70 rows x 2 columns]

In [285]:
#GridSearchCV
from sklearn.model_selection import GridSearchCV, KFold

In [611]:
param ={'C':[1,5,10,20,25,50,100], 'gamma':[0.1, 0.25, 0.5, 1]}

cv = KFold(n_splits=8)
GS = GridSearchCV(SVC(kernel='rbf'), param, cv = cv)
GS.fit(mms_X_train, Y_train)

GridSearchCV(cv=KFold(n_splits=8, random_state=None, shuffle=False),
             estimator=SVC(),
             param_grid={'C': [1, 5, 10, 20, 25, 50, 100],
                         'gamma': [0.1, 0.25, 0.5, 1]})

In [612]:
GS.best_params_

{'C': 5, 'gamma': 0.1}

In [613]:
GS.best_score_

0.8148148148148149

In [607]:
svc_rbf = SVC(kernel ="rbf", C=5, gamma=0.1)

In [598]:
svc_rbf.fit(mms_X_train,Y_train)

SVC(C=5, gamma=0.1)

In [599]:
y_rbf = svc_rbf.predict(mms_X_test)

In [600]:
y_rbf =pd.DataFrame(y_rbf)
sample33= pd.concat([X_test_id, y_rbf], axis = 1)
sample33.columns = ['id', 'target']
sample33.to_csv('sample33.csv', index = False)
sample33

     id  target
0   266       0
1   267       0
2   268       1
3   269       0
4   270       0
..  ...     ...
65  161       1
66  162       1
67  163       1
68  164       1
69  165       1

[70 rows x 2 columns]

# Standardization 스케일링 + ...

In [300]:
from sklearn.preprocessing import StandardScaler

In [301]:
std_scaler = StandardScaler()

In [304]:
std_X_train = std_scaler.fit_transform(X_train)
std_X_test = std_scaler.transform(X_test)

### 1. standard 스케일링 + naive bayes

In [307]:
gnb.fit(std_X_train, Y_train)

GaussianNB()

In [308]:
y_gnb = gnb.predict(std_X_test)

In [309]:
y_gnb =pd.DataFrame(y_gnb)
sample16 = pd.concat([X_test_id, y_gnb], axis = 1)
sample16.columns = ['id', 'target']
sample16.to_csv('sample16.csv', index = False)
sample16

     id  target
0   266       0
1   267       0
2   268       0
3   269       0
4   270       0
..  ...     ...
65  161       1
66  162       1
67  163       1
68  164       0
69  165       0

[70 rows x 2 columns]

### 2. standard 스케일링 + 결정트리

In [310]:
dt.fit(std_X_train, Y_train)

DecisionTreeClassifier()

In [312]:
y_pred = dt.predict(std_X_test)

In [313]:
y_pred =pd.DataFrame(y_pred)
sample17 = pd.concat([X_test_id, y_pred], axis = 1)
sample17.columns = ['id', 'target']
sample17.to_csv('sample17.csv', index = False)
sample17

     id  target
0   266       1
1   267       1
2   268       1
3   269       1
4   270       0
..  ...     ...
65  161       1
66  162       1
67  163       1
68  164       1
69  165       1

[70 rows x 2 columns]

### 3. standardization 스케일링 + k-near

In [317]:
param ={'n_neighbors':[10, 15, 20, 30, 40, 50], 'metric':['euclidean', 'manhattan','minkowski','chebyshev']}

cv = KFold(n_splits=3)
GS = GridSearchCV(KNeighborsClassifier(), param, cv = cv)
GS.fit(std_X_train, Y_train)

GridSearchCV(cv=KFold(n_splits=3, random_state=None, shuffle=False),
             estimator=KNeighborsClassifier(),
             param_grid={'metric': ['euclidean', 'manhattan', 'minkowski',
                                    'chebyshev'],
                         'n_neighbors': [10, 15, 20, 30, 40, 50]})

In [318]:
GS.best_params_

{'metric': 'manhattan', 'n_neighbors': 10}

In [324]:
GS.best_score_

0.6759259259259259

In [430]:
knn = KNeighborsClassifier(n_neighbors = 10, metric ='manhattan')
knn.fit(std_X_train, Y_train)

KNeighborsClassifier(metric='manhattan', n_neighbors=10)

In [432]:
y_pred = knn.predict(std_X_test)

In [433]:
y_pred =pd.DataFrame(y_pred)
sample18 = pd.concat([X_test_id, y_pred], axis = 1)
sample18.columns = ['id', 'target']
sample18.to_csv('sample18.csv', index = False)
sample18

     id  target
0   266       0
1   267       0
2   268       1
3   269       0
4   270       0
..  ...     ...
65  161       1
66  162       1
67  163       1
68  164       1
69  165       1

[70 rows x 2 columns]

### 4. stand + SVM

In [379]:
param ={'C':[1,5,10,20,25,50,100], 'gamma':[0.0005, 0.001, 0.025,0.05,0.1, 0.25, 0.5, 1]}


cv = KFold(n_splits=3)
GS = GridSearchCV(SVC(kernel='rbf'), param, cv = cv)
GS.fit(std_X_train, Y_train)

GridSearchCV(cv=KFold(n_splits=3, random_state=None, shuffle=False),
             estimator=SVC(),
             param_grid={'C': [1, 5, 10, 20, 25, 50, 100],
                         'gamma': [0.0005, 0.001, 0.025, 0.05, 0.1, 0.25, 0.5,
                                   1]})

In [380]:
GS.best_params_

{'C': 100, 'gamma': 0.001}

In [355]:
GS.best_score_

0.7407407407407408

In [357]:
svc = SVC(kernel="rbf", C=100, gamma = 0.001)

In [358]:
svc.fit(std_X_train, Y_train)

SVC(C=100, gamma=0.001)

In [359]:
y_pred = svc.predict(std_X_test)

In [360]:
y_pred =pd.DataFrame(y_pred)
sample20 = pd.concat([X_test_id, y_pred], axis = 1)
sample20.columns = ['id', 'target']
sample20.to_csv('sample20.csv', index = False)
sample20

     id  target
0   266       0
1   267       0
2   268       1
3   269       0
4   270       0
..  ...     ...
65  161       1
66  162       1
67  163       1
68  164       1
69  165       1

[70 rows x 2 columns]

In [371]:
param ={'C':[1,5,10,20,25,50,100], 'gamma':[0.0005, 0.001, 0.025,0.05,0.1, 0.25, 0.5, 1]}


cv = KFold(n_splits=3)
GS = GridSearchCV(SVC(kernel='poly'), param, cv = cv)
GS.fit(std_X_train, Y_train)

GridSearchCV(cv=KFold(n_splits=3, random_state=None, shuffle=False),
             estimator=SVC(kernel='poly'),
             param_grid={'C': [1, 5, 10, 20, 25, 50, 100],
                         'gamma': [0.0005, 0.001, 0.025, 0.05, 0.1, 0.25, 0.5,
                                   1]})

In [372]:
GS.best_params_

{'C': 1, 'gamma': 0.1}

In [373]:
GS.best_score_

0.6944444444444445

In [376]:
svc = SVC(kernel="poly", C=1, gamma = 0.1)

In [377]:
svc.fit(std_X_train, Y_train)

SVC(C=1, gamma=0.1, kernel='poly')

In [378]:
y_pred = svc.predict(std_X_test)
y_pred =pd.DataFrame(y_pred)
sample22 = pd.concat([X_test_id, y_pred], axis = 1)
sample22.columns = ['id', 'target']
sample22.to_csv('sample22.csv', index = False)
sample22

     id  target
0   266       0
1   267       0
2   268       1
3   269       0
4   270       0
..  ...     ...
65  161       1
66  162       1
67  163       1
68  164       1
69  165       1

[70 rows x 2 columns]

# Normalization

## 1. L1 normalization

In [381]:
from sklearn import preprocessing

In [383]:
norm_X_train = preprocessing.normalize(X_train, norm='l1')
norm_X_test = preprocessing.normalize(X_test, norm = 'l1')

### 1-1. L1 norm + Naive

In [384]:
gnb.fit(norm_X_train, Y_train)

GaussianNB()

In [385]:
y_pred = gnb.predict(norm_X_test)

In [386]:

y_pred =pd.DataFrame(y_pred)
sample23 = pd.concat([X_test_id, y_pred], axis = 1)
sample23.columns = ['id', 'target']
sample23.to_csv('sample23.csv', index = False)
sample23

     id  target
0   266       0
1   267       0
2   268       0
3   269       0
4   270       0
..  ...     ...
65  161       1
66  162       1
67  163       1
68  164       0
69  165       0

[70 rows x 2 columns]

### 1-2. L1 norm + decision

In [387]:
dt.fit(norm_X_train, Y_train)

DecisionTreeClassifier()

In [388]:
y_pred = dt.predict(norm_X_test)

y_pred =pd.DataFrame(y_pred)
sample24 = pd.concat([X_test_id, y_pred], axis = 1)
sample24.columns = ['id', 'target']
sample24.to_csv('sample24.csv', index = False)
sample24

     id  target
0   266       0
1   267       0
2   268       1
3   269       1
4   270       0
..  ...     ...
65  161       1
66  162       1
67  163       1
68  164       1
69  165       1

[70 rows x 2 columns]

### 1-3. L1 norm + k-near

In [397]:
param ={'n_neighbors':[5, 10, 15, 20, 30, 40, 50], 'metric':['euclidean', 'manhattan','minkowski','chebyshev']}

cv = KFold(n_splits=3)
GS = GridSearchCV(KNeighborsClassifier(), param, cv = cv)
GS.fit(norm_X_train, Y_train)

GridSearchCV(cv=KFold(n_splits=3, random_state=None, shuffle=False),
             estimator=KNeighborsClassifier(),
             param_grid={'metric': ['euclidean', 'manhattan', 'minkowski',
                                    'chebyshev'],
                         'n_neighbors': [5, 10, 15, 20, 30, 40, 50]})

In [398]:
GS.best_params_

{'metric': 'manhattan', 'n_neighbors': 5}

In [399]:
GS.best_score_

0.449074074074074

### 1-4. L1 norm + SVM

In [406]:
param ={'C':[1,5,10,20,25,50,100], 'gamma':[0.0005, 0.001, 0.025,0.05,0.1, 0.25, 0.5, 1]}


cv = KFold(n_splits=3)
GS = GridSearchCV(SVC(kernel='rbf'), param, cv = cv)
GS.fit(norm_X_train, Y_train)

GridSearchCV(cv=KFold(n_splits=3, random_state=None, shuffle=False),
             estimator=SVC(),
             param_grid={'C': [1, 5, 10, 20, 25, 50, 100],
                         'gamma': [0.0005, 0.001, 0.025, 0.05, 0.1, 0.25, 0.5,
                                   1]})

In [407]:
GS.best_params_

{'C': 100, 'gamma': 1}

In [408]:
GS.best_score_

0.4166666666666667

## L2 normalization

In [417]:
norm_X_train = preprocessing.normalize(X_train, norm ='l2')
norm_X_test = preprocessing.normalize(X_test, norm = 'l2')

### 2-1. L2 + naive

In [413]:
gnb.fit(norm_X_train, Y_train)

GaussianNB()

In [414]:
y_pred = gnb.predict(norm_X_test)

y_pred =pd.DataFrame(y_pred)
sample25 = pd.concat([X_test_id, y_pred], axis = 1)
sample25.columns = ['id', 'target']
sample25.to_csv('sample25.csv', index = False)
sample25

     id  target
0   266       0
1   267       0
2   268       0
3   269       0
4   270       0
..  ...     ...
65  161       1
66  162       1
67  163       1
68  164       0
69  165       0

[70 rows x 2 columns]

### 2-2. L2 + k-near

In [415]:
param ={'n_neighbors':[5, 10, 15, 20, 30, 40, 50], 'metric':['euclidean', 'manhattan','minkowski','chebyshev']}

cv = KFold(n_splits=3)
GS = GridSearchCV(KNeighborsClassifier(), param, cv = cv)
GS.fit(norm_X_train, Y_train)

GridSearchCV(cv=KFold(n_splits=3, random_state=None, shuffle=False),
             estimator=KNeighborsClassifier(),
             param_grid={'metric': ['euclidean', 'manhattan', 'minkowski',
                                    'chebyshev'],
                         'n_neighbors': [5, 10, 15, 20, 30, 40, 50]})

In [418]:
GS.best_params_

{'metric': 'manhattan', 'n_neighbors': 5}

In [419]:
GS.best_score_

0.45370370370370366

### 2-3. L2 + SVM

In [420]:
param ={'C':[1,5,10,20,25,50,100], 'gamma':[0.0005, 0.001, 0.025,0.05,0.1, 0.25, 0.5, 1]}


cv = KFold(n_splits=3)
GS = GridSearchCV(SVC(kernel='rbf'), param, cv = cv)
GS.fit(norm_X_train, Y_train)

GridSearchCV(cv=KFold(n_splits=3, random_state=None, shuffle=False),
             estimator=SVC(),
             param_grid={'C': [1, 5, 10, 20, 25, 50, 100],
                         'gamma': [0.0005, 0.001, 0.025, 0.05, 0.1, 0.25, 0.5,
                                   1]})

In [421]:
GS.best_score_

0.4212962962962963

# Robust 다시

In [422]:
robust = RobustScaler()

In [425]:
#훈련 및 테스트 데이터 스케일링 
robust_X_train = robust.fit_transform(X_train)
robust_X_test = robust.transform(X_test)

In [426]:
param ={'n_neighbors':[5, 10, 15, 20, 30, 40, 50], 'metric':['euclidean', 'manhattan','minkowski','chebyshev']}

cv = KFold(n_splits=3)
GS = GridSearchCV(KNeighborsClassifier(), param, cv = cv)
GS.fit(robust_X_train, Y_train)

GridSearchCV(cv=KFold(n_splits=3, random_state=None, shuffle=False),
             estimator=KNeighborsClassifier(),
             param_grid={'metric': ['euclidean', 'manhattan', 'minkowski',
                                    'chebyshev'],
                         'n_neighbors': [5, 10, 15, 20, 30, 40, 50]})

In [442]:
GS.best_score_

0.7129629629629629

In [428]:
GS.best_params_

{'metric': 'manhattan', 'n_neighbors': 5}

In [457]:
neigh = KNeighborsClassifier(n_neighbors=5, metric='manhattan')

In [458]:
neigh.fit(robust_X_train, Y_train)

KNeighborsClassifier(metric='manhattan')

In [461]:
y_pred=neigh.predict(robust_X_test)

In [462]:
y_pred =pd.DataFrame(y_pred)
sample26 = pd.concat([X_test_id, y_pred], axis = 1)
sample26.columns = ['id', 'target']
sample26.to_csv('sample26.csv', index = False)
sample26

     id  target
0   266       0
1   267       0
2   268       1
3   269       0
4   270       0
..  ...     ...
65  161       1
66  162       1
67  163       1
68  164       1
69  165       1

[70 rows x 2 columns]

In [463]:
param ={'C':[1,5,10,20,25,50,100], 'gamma':[0.0005, 0.001, 0.025,0.05,0.1, 0.25, 0.5, 1]}


cv = KFold(n_splits=3)
GS = GridSearchCV(SVC(kernel='rbf'), param, cv = cv)
GS.fit(robust_X_train, Y_train)

GridSearchCV(cv=KFold(n_splits=3, random_state=None, shuffle=False),
             estimator=SVC(),
             param_grid={'C': [1, 5, 10, 20, 25, 50, 100],
                         'gamma': [0.0005, 0.001, 0.025, 0.05, 0.1, 0.25, 0.5,
                                   1]})

In [464]:
GS.best_score_

0.7777777777777777

In [466]:
GS.best_params_

{'C': 10, 'gamma': 0.025}

In [467]:
svc = SVC(kernel='rbf', C=10, gamma = 0.025)

In [468]:
svc.fit(robust_X_train, Y_train)

SVC(C=10, gamma=0.025)

In [469]:
y_pred=svc.predict(robust_X_test)
y_pred =pd.DataFrame(y_pred)
sample27 = pd.concat([X_test_id, y_pred], axis = 1)
sample27.columns = ['id', 'target']
sample27.to_csv('sample27.csv', index = False)
sample27

     id  target
0   266       0
1   267       0
2   268       1
3   269       0
4   270       0
..  ...     ...
65  161       1
66  162       1
67  163       1
68  164       1
69  165       1

[70 rows x 2 columns]

# Maxabs 다시

In [479]:
MaxAbs = MaxAbsScaler()

In [614]:
X_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
227,38,1,3,120,231,0,1,182,1,3.8,1,0,3
229,52,1,0,112,230,0,1,160,0,0.0,2,1,2
230,53,1,0,123,282,0,1,95,1,2.0,1,2,3
231,63,0,0,108,269,0,1,169,1,1.8,1,2,2
232,54,1,0,110,206,0,0,108,1,0.0,1,1,2

In [615]:
#훈련 및 테스트 데이터 스케일링 
Abs_X_train = MaxAbs.fit_transform(X_train)
Abs_X_test = MaxAbs.transform(X_test)

In [616]:
Abs_X_train

array([[0.81818182, 1.        , 1.        , ..., 0.        , 0.        ,
        0.33333333],
       [0.48051948, 1.        , 0.66666667, ..., 0.        , 0.        ,
        0.66666667],
       [0.53246753, 0.        , 0.33333333, ..., 1.        , 0.        ,
        0.66666667],
       ...,
       [0.68831169, 1.        , 0.        , ..., 0.5       , 0.5       ,
        1.        ],
       [0.81818182, 0.        , 0.        , ..., 0.5       , 0.5       ,
        0.66666667],
       [0.7012987 , 1.        , 0.        , ..., 0.5       , 0.25      ,
        0.66666667]])

In [483]:
gnb = GaussianNB()

In [488]:
gnb.fit(Abs_X_train, Y_train)

GaussianNB()

In [489]:
y_pred=gnb.predict(Abs_X_test)
y_pred =pd.DataFrame(y_pred)
sample28 = pd.concat([X_test_id, y_pred], axis = 1)
sample28.columns = ['id', 'target']
sample28.to_csv('sample28.csv', index = False)
sample28

     id  target
0   266       0
1   267       0
2   268       0
3   269       0
4   270       0
..  ...     ...
65  161       1
66  162       1
67  163       1
68  164       0
69  165       0

[70 rows x 2 columns]

In [490]:
param ={'n_neighbors':[5, 10, 15, 20, 30, 40, 50], 'metric':['euclidean', 'manhattan','minkowski','chebyshev']}

cv = KFold(n_splits=3)
GS = GridSearchCV(KNeighborsClassifier(), param, cv = cv)
GS.fit(Abs_X_train, Y_train)

GridSearchCV(cv=KFold(n_splits=3, random_state=None, shuffle=False),
             estimator=KNeighborsClassifier(),
             param_grid={'metric': ['euclidean', 'manhattan', 'minkowski',
                                    'chebyshev'],
                         'n_neighbors': [5, 10, 15, 20, 30, 40, 50]})

In [491]:
GS.best_score_

0.6527777777777778

In [618]:
param ={'C':[1,5,10,20,25,50,100], 'gamma':[0.0005, 0.001, 0.025,0.05,0.1, 0.25, 0.5, 1]}


cv = KFold(n_splits=10)
GS = GridSearchCV(SVC(kernel='rbf'), param, cv = cv)
GS.fit(Abs_X_train, Y_train)

GridSearchCV(cv=KFold(n_splits=10, random_state=None, shuffle=False),
             estimator=SVC(),
             param_grid={'C': [1, 5, 10, 20, 25, 50, 100],
                         'gamma': [0.0005, 0.001, 0.025, 0.05, 0.1, 0.25, 0.5,
                                   1]})

In [619]:
GS.best_score_

0.8456709956709956

In [620]:
GS.best_params_

{'C': 50, 'gamma': 0.025}

In [621]:
svc_rbf = SVC(kernel='rbf', C=50, gamma = 0.025)

In [622]:
svc_rbf.fit(Abs_X_train, Y_train)

SVC(C=50, gamma=0.025)

In [623]:
y_pred=svc_rbf.predict(Abs_X_test)
y_pred =pd.DataFrame(y_pred)
sample33  = pd.concat([X_test_id, y_pred], axis = 1)
sample33.columns = ['id', 'target']
sample33.to_csv('sample33.csv', index = False)
sample33

     id  target
0   266       0
1   267       0
2   268       1
3   269       0
4   270       0
..  ...     ...
65  161       1
66  162       1
67  163       1
68  164       1
69  165       1

[70 rows x 2 columns]

### outlier 제거 안하고 maxabs + RBF 돌려보기

In [500]:
X_origin_train = pd.read_csv("/Users/yujinkim/Desktop/3학년/1학기/응용머신러닝/Assignment1/X_train.csv")
Y_origin_train = pd.read_csv("/Users/yujinkim/Desktop/3학년/1학기/응용머신러닝/Assignment1/y_train.csv")
X_origin_test = pd.read_csv("/Users/yujinkim/Desktop/3학년/1학기/응용머신러닝/Assignment1/X_test.csv")

In [503]:
X_origin_train = X_origin_train.iloc[:, 1:]

In [507]:
Y_origin_train = Y_origin_train.iloc[:, 1:]

In [512]:
X_origin_test = X_origin_test.iloc[:, 1:]

In [514]:
Abs_X_train = MaxAbs.fit_transform(X_origin_train)
Abs_X_test = MaxAbs.transform(X_origin_test)

In [582]:
param ={'C':[1,5,10,20,25,50,100], 'gamma':[0.0005, 0.001, 0.025,0.05,0.1, 0.25, 0.5, 1]}


cv = KFold(n_splits=50)
GS = GridSearchCV(SVC(kernel='rbf'), param, cv = cv)
GS.fit(Abs_X_train, Y_origin_train)

GridSearchCV(cv=KFold(n_splits=50, random_state=None, shuffle=False),
             estimator=SVC(),
             param_grid={'C': [1, 5, 10, 20, 25, 50, 100],
                         'gamma': [0.0005, 0.001, 0.025, 0.05, 0.1, 0.25, 0.5,
                                   1]})

In [583]:
GS.best_score_

0.865

In [584]:
GS.best_params_

{'C': 20, 'gamma': 0.05}

In [585]:
svc_rbf = SVC(kernel='rbf', C=20, gamma = 0.05)

In [586]:
svc_rbf.fit(Abs_X_train, Y_origin_train)

SVC(C=20, gamma=0.05)

In [588]:
y_pred=svc_rbf.predict(Abs_X_test)
y_pred =pd.DataFrame(y_pred)
sample32  = pd.concat([X_test_id, y_pred], axis = 1)
sample32.columns = ['id', 'target']
sample32.to_csv('sample32.csv', index = False)
sample32

     id  target
0   266       0
1   267       0
2   268       0
3   269       0
4   270       0
..  ...     ...
65  161       1
66  162       1
67  163       1
68  164       1
69  165       1

[70 rows x 2 columns]

In [522]:
knn = KNeighborsClassifier()

In [545]:
param ={'n_neighbors':[5, 10, 15, 20, 30, 40, 50], 'metric':['euclidean', 'manhattan','minkowski','chebyshev']}

cv = KFold(n_splits=13)
GS = GridSearchCV(KNeighborsClassifiser(), param, cv = cv)
GS.fit(Abs_X_train, Y_origin_train)

GridSearchCV(cv=KFold(n_splits=13, random_state=None, shuffle=False),
             estimator=KNeighborsClassifier(),
             param_grid={'metric': ['euclidean', 'manhattan', 'minkowski',
                                    'chebyshev'],
                         'n_neighbors': [5, 10, 15, 20, 30, 40, 50]})

In [546]:
GS.best_score_

0.8278029160382102